<!DOCTYPE html>
<html>
<head>
  <title>WigitLandingPage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  

    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>  
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="assets/plugins/animate-css/animate.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body data-spy="scroll">
    <!-- ******HEADER****** --> 
    <header id="top" class="header navbar-fixed-top">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <img id="logo-image" class="logo-image" src="assets/images/wigit.png" alt="Logo">
                    <span class="logo-title">Wigit</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
                        <li class="nav-item"><a class="scrollto" href="#how">How it works</a></li>
                        <li class="nav-item"><a class="scrollto" href="#story">Story</a></li>
                        <li class="nav-item last"><a class="scrollto" href="#contact">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->           
        </div>
    </header><!--//header-->
    
    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">What We Do</h2>
                    <ul class="summary">
                        <li>The purpose of our company is to connect people who need items with those who are willing to share them. Our goal is to cause a widespread increase in asset utilization throughout each sector of the consumer economy. Furthermore, we aim to give every person with a smartphone the ability to open their own small business within minutes. Widge your unused items! And Rent from anything from a textbook to a Macbook or a pair of boots to a 40 foot ladder!</li>
                        <!-- <li>Demonstrate how the app works</li>
                        <li>Provide answers to common questions</li>
                        <li>Tell the world about the story behind the app</li> -->
                    </ul>
                    <div class="download-area">
                        <ul class="btn-group list-inline">
                            <li class="ios-btn"><a href="#">Download from the App Store</a></li>
                            
                        </ul>
                        <div class="note text-center">
                            <p> “Get Widging!” </p>
                            
                        </div><!--//note-->
                    </div>
                </div><!--//overview-->
                
                <!--// iPhone starts -->
                <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                    <div class="iphone-holder phone-holder">
                        <div class="iphone-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="assets/images/items.png" alt="" />
                                        <!-- <img src="assets/images/iphone/iphone-slide-1.png"  alt="" /> -->
                                    </li>
                                    <li>
                                        <img src="assets/images/categories.png" alt="" />
                                        <!-- <img src="assets/images/iphone/iphone-slide-2.png"  alt="" /> -->
                                    </li>
                                    <li>
                                        <img src="assets/images/product_view.png" alt="" />
                                        <!-- <img src="assets/images/iphone/iphone-slide-3.png"  alt="" /> -->
                                    </li>
                                </ul><!--//slides-->
                            </div><!--//flexslider-->   
                        </div><!--//iphone-holder-inner-->                    
                    </div><!--//iphone-holder-->                   
                </div><!--//iphone-->  
                <!--// iPhone ends -->                                           
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->
    
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section" >
        <div class="container">
            <div class="row">
                
                <h2 class="title text-center sr-only">Features</h2>
                <div class="item col-md-6 col-sm-6 col-xs-12 text-center" >
                    <div class="icon">
                       <i class="fa fa-book" aria-hidden="true"></i>
                       <i class="fa fa-money" aria-hidden="true"></i>               
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Widge It!</h3>
                        <p> If you’re not using an item around your house (textbook, electronic, appliance, tool, or really any item that you want to rent out) just put it on our safe, secured platform! Take a picture, pick your rental prices, and Widge it! It’s that easy.</p>  
                        <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-1">Find out more</button>
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6 col-xs-12 text-center" >
                    <div class="icon">
                       <i class="fa fa-exchange" aria-hidden="true"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title" > Rent It! </h3>
                        <p> If you’re looking to experience a new item, looking for a cheap option, or even looking for an item temporarily,  just “RENT IT” on our platform! Search for your item or shop around and rent it! It’s that easy. </p>   
                        <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-2">Find out more</button>
                    </div><!--//content-->               
                </div><!--//item-->
              </div>
             
            </div>
               <!--//icon-->
                    
    </section><!--//features-->
    
    <!-- ******HOW****** --> 
    <!-- <section id="how" class="how section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 text-center">
                    <h2 class="title">How it works</h2>
                    <p class="intro">You can <a href="http://blog.sensortower.com/blog/2013/07/19/3-ways-to-create-a-great-ios-app-demo-video-without-breaking-the-bank/" target="_blank">create a video demo</a> for your app to demonstrate how the app works. You can also <a href="http://www.qrstuff.com/" target="_blank">generate QR codes</a> for the app download links.</p>
                    <div class="qr-codes hidden-sm hidden-xs">
                        <div class="note">
                            <p>Scan the QR codes</p>
                            <span class="left-arrow"></span>
                            <span class="right-arrow"></span>
                        </div>
                        <div class="row">
                            <div class="item col-md-6 col-sm-6">
                                <img src="assets/images/qrcodes/qr-1.png" alt="" />
                                <p>Download for iOS</p>
                            </div>
                            <div class="item col-md-6 col-sm-6">
                                <img src="assets/images/qrcodes/qr-1.png" alt="" />
                                <p>Download for Andriod</p>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div id="video-container" class="video-container col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                    <iframe src="//player.vimeo.com/video/87044590" width="570" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section> -->
    
    
    
    
    <!-- ******STORY****** --> 
    <section id="story" class="story section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
                    <h2 class="title">Story Behind The App</h2>
                    <p> In college, our friends and roommates brought household items to campus to make their stay feel more like home.  We noticed that many of these items were in perfect condition, and were never used throughout the entire year! Some of these items included: Bose speakers, REI camping equipment, a Trek bicycle, a Samsung mini fridge, textbooks, and many others…
                    </p>
                    <p> We had thousands of dollars’ worth of items just sitting around never being used. As finances got tough we started renting out our personal belongings to people who were looking for a cheaper alternative to purchasing.</p>
                    <p> By renting out our textbooks, movies, and household items to people in our community, we created our own simple business to fulfill our financial obligations. From our success, we decided to share our experience with local communities. This is how Wigit, the safe and secure platform to widge and rent anything, was born. </p>
                </div><!--//content-->
                <div class="team col-md-12 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div class="member col-xs-2 text-center">
                            <img class="img-rounded" src="assets/images/weiss.png" alt="" />
                            <p class="name">Max Weiss</p>
                            
                            <ul class="connect list-inline">
                               <li><a href="https://www.linkedin.com/in/maxwell-weiss-9532a05b" ><i class="fa fa-linkedin"></i></a></li>
                                       
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-6 text-center">
                            <img class="img-rounded" src="assets/images/holtkamp.png" alt="" />
                            <p class="name">Jason Holtkamp</p>
                            
                            <ul class="connect list-inline">
                               <li><a href="https://www.linkedin.com/in/jason-holtkamp-93ab91a6"><i class="fa fa-linkedin"></i></a></li>
                                        
                            </ul>
                        </div><!--//member-->
                     <div class="member col-xs-2 text-center">
                            <!-- <img class="img-rounded" src="assets/images/team/member-1.png" alt="" />  -->
                            <img class="img-rounded" src="assets/images/stiegal.png" alt="" />
                            <p class="name">Chris Stiegal</p>
                           
                            <ul class="connect list-inline">
                              <li><a href="https://www.linkedin.com/in/christopher-l-stiegal-7296176b" ><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!--//member-->

                    </div>
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->
    
    <!-- ******TESTIMONIALS****** --> 
    
    <!-- ******Pricing****** --> 
    
    
    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="row text-center">
                <h2 class="title">Contact US</h2>
                <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <p>We’d love to hear from you with any questions that you may have!</p>
                    <ul class="list-unstyled contact-details">
                        <li><i class="fa fa-envelope"></i><a href="mailto:info@gowigit.com">info@gowigit.com</a></li>
                        
                    </ul>
                </div>
            </div><!--//row-->
           <!--  <div class="row text-center">
                <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">                            
                    <form class="form">                
                        <div class="form-group name">
                            <label class="sr-only" for="name">Name</label>
                            <input id="name" type="text" class="form-control" placeholder="Name:">
                        </div>
                        <div class="form-group email">
                            <label class="sr-only" for="email">Email</label>
                            <input id="email" type="email" class="form-control" placeholder="Email:">
                        </div>
                        <div class="form-group message">
                            <label class="sr-only" for="message">Message</label>
                            <textarea id="message" class="form-control" rows="6" placeholder="Message:"></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-theme">Send Message</button>
                    </form>                
                </div>
            </div> -->
            <div class="text-center">
                 <ul class="social-icons list-inline">
                    
                    <li><a href="https://www.facebook.com/GoWigit/" ><i class="fa fa-facebook"></i></a></li>
                                     
                </ul><!--//social-icons-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//contact-->  
      


    <!-- Feature Modal -->
    <div class="modal modal-feature" id="feature-modal-1" tabindex="-1" role="dialog" aria-labelledby="featureModalLabel-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="featureModalLabel-1" class="modal-title text-center">Benefits of "Widge-ing"</h4>
                </div>
                <div class="modal-body"> 
                    <div class="row">    
                        <figure class="figure col-md-6 col-sm-12 col-xs-12">
                            <img class="img-responsive img-rounded" src="assets/images/wigit_maps.png" alt="" />
                        <figcaption class="caption">Each pin represents a user who's widged items and are making great money off of their used and unused items! </figcaption>
                        </figure> 
                        <div class="content col-md-6 col-sm-12 col-xs-12">           
                            <p> </p>
                            
                            <ul class="list-unstyled">
                                <li><i class="fa fa-star"></i> Make money quickly and easily</li>
                                <li><i class="fa fa-star"></i> Widged items are safe and secure</li>
                                <li><i class="fa fa-star"></i>Meet someone who shares your interests</li>
                                <li><i class="fa fa-star"></i>Eco-friendly</li>
                                <li><i class="fa fa-star"></i>It’s fun</li>
                                <p> </p> 
                                <li> Start making money now… </li>
                               
                            </ul>
                           <!--  <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p> -->
                           <!--  <blockquote class="quote"> -->
                                <!-- <p><i class="fa fa-quote-left"></i>I love this magna pellentesque in magnis gravida sit augue felis vehicula vestibulum semper penatibus justo ornare semper Gravida felis platea arcu mus non. Montes at posuere. Natoque.</p>
                                <p class="people"><span class="name">Adam Lee</span><br><span class="title">Developer, AppHunt</span></p> -->
                          <!--   </blockquote> -->
                        </div><!--//content-->
                    </div><!--//row-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    <div class="modal modal-feature" id="feature-modal-2" tabindex="-1" role="dialog" aria-labelledby="featureModalLabel-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="featureModalLabel-1" class="modal-title text-center"> Benefits of Renting </h4>
                </div>
                <div class="modal-body"> 
                    <div class="row">    
                        
                        <figure class="figure col-md-6 col-sm-12 col-xs-12">
                            
                           
                            <img class="img-responsive img-rounded" src="assets/images/product_menu.png" alt="" />
                           
                          <figcaption class="caption">Try something new or save huge amounts of money by renting out one of these items in your area!</figcaption>
                        </figure>  
                        <!-- <figure class="figure col-md-6 col-sm-12 col-xs-12">  
                             <img class="img-responsive img-rounded" src="assets/images/product_menu.png" alt="" />
                            <figcaption class="caption">Figure caption goes here </figcaption>
                         </figure> -->
                        <div class="content col-md-6 col-sm-12 col-xs-12">           
                            <p> </p>
                            
                            <ul class="list-unstyled">
                                <li><i class="fa fa-star"></i>Save money</li>
                                <li><i class="fa fa-star"></i>Experience new products/items every day</li>
                                <li><i class="fa fa-star"></i>Lower risk alternative</li>
                                <li><i class="fa fa-star"></i>Build network within your community</li>
                                <li><i class="fa fa-star"></i>Eco-friendly</li>
                                <p> </p>
                                <li> Shop around and see why renting is better than purchasing… </li>
                            </ul>
                           <!--  <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p> -->
                            <!-- <blockquote class="quote"> -->
                                <!-- <p><i class="fa fa-quote-left"></i>I love this magna pellentesque in magnis gravida sit augue felis vehicula vestibulum semper penatibus justo ornare semper Gravida felis platea arcu mus non. Montes at posuere. Natoque.</p>
                                <p class="people"><span class="name">Adam Lee</span><br><span class="title">Developer, AppHunt</span></p> -->
                            <!-- </blockquote> -->
                        </div><!--//content-->
                    </div><!--//row-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    
    <!-- *****CONFIGURE STYLE (Remove on production site)****** -->
    
     
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/isMobile/isMobile.min.js"></script>       
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <!--[if !IE]>--> 
    <script type="text/javascript" src="assets/js/animations.js"></script> 
    <!--<![endif]-->         
</body>
</html> 




